*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;  
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
}

.container {
  width: 700px;
  height: 300px;
  margin: 0 auto;
  /* background-color: rgb(255, 255, 255); */
}

.slider {
  height: 100%;
  display: flex;
}

.items-Wrapper {
  height: 100%;
  width: 100%;
}

.thumbs {
  display: flex;
  flex-direction: column;
}

.thumbs {
  float: left;
  height: 100%;
  width: 135px;
}

.thumbs img {
  width: 100%;
  height: calc(100% / 5);
  object-fit: cover;
  opacity: .5;
  
}

.thumbs img.active{
  opacity: 1;
  border: 2px solid white;
}

.items-Wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnails {
  width: 135px;
  position: relative;

}

.btn-arrow {
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  line-height: 22px;
  border-radius: 50%;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  z-index: 999;
}

.btn-arrow.top{
  top: 10px;

}

.btn-arrow.bottom{
  bottom: 10px;
}

h3 {
  z-index: 11;
  position: absolute;
  width: 100%;
}

